body {
  background-color: #393E46;
  text-align: center;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 8rem;
  text-shadow: 5px 0 #232931;
  margin: 10px auto;
  color: #4ECCA3;
}

p {
  font-family: 'Indie Flower', cursvie;
  font-size: 2rem;
  color: #4ECCA3;
}

footer {
  font-family: 'Indie Flower', cursvie;
  text-align: center;
  color: #fff;
  margin-top: 40px;
}

/* Dice Section */
#players {
  display: flex;
  margin: 10px;
  justify-content: center;
}

.dice {
  margin: 5px 50px;
  padding: 5px;
}
